// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace CustomersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Create and manage customer records. Store payment methods and billing information.
 *
 * **Required Scopes:**
 * - `customers:read` - List and retrieve customers
 * - `customers:write` - Create, update, delete customers
 *
 * **MCP Tools:** `customers_list`, `customers_get`, `customers_create`, `customers_update`
 */
export class CustomersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomersClient.Options>;

    constructor(options: CustomersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all invoices for a specific customer
     *
     * @param {RevKeen.CustomersInvoicesListRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.customers.invoicesList({
     *         customerId: "cus_abc123",
     *         limit: 20
     *     })
     */
    public invoicesList(
        request: RevKeen.CustomersInvoicesListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersInvoicesListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__invoicesList(request, requestOptions));
    }

    private async __invoicesList(
        request: RevKeen.CustomersInvoicesListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersInvoicesListResponse>> {
        const { customerId, limit, starting_after: startingAfter, ending_before: endingBefore } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/invoices`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersInvoicesListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customers/{customerId}/invoices",
        );
    }

    /**
     * Retrieve all subscriptions for a specific customer
     *
     * @param {RevKeen.CustomersSubscriptionsListRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.customers.subscriptionsList({
     *         customerId: "cus_abc123",
     *         limit: 20
     *     })
     */
    public subscriptionsList(
        request: RevKeen.CustomersSubscriptionsListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersSubscriptionsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__subscriptionsList(request, requestOptions));
    }

    private async __subscriptionsList(
        request: RevKeen.CustomersSubscriptionsListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersSubscriptionsListResponse>> {
        const { customerId, limit, starting_after: startingAfter, ending_before: endingBefore, status } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/subscriptions`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersSubscriptionsListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customers/{customerId}/subscriptions",
        );
    }

    /**
     * Retrieve all orders for a specific customer
     *
     * @param {RevKeen.CustomersOrdersListRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.customers.ordersList({
     *         customerId: "cus_abc123",
     *         limit: 20
     *     })
     */
    public ordersList(
        request: RevKeen.CustomersOrdersListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersOrdersListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__ordersList(request, requestOptions));
    }

    private async __ordersList(
        request: RevKeen.CustomersOrdersListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersOrdersListResponse>> {
        const { customerId, limit, starting_after: startingAfter, ending_before: endingBefore, status } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/orders`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.CustomersOrdersListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customers/{customerId}/orders",
        );
    }

    /**
     * Retrieve all payments for a specific customer
     *
     * @param {RevKeen.CustomersPaymentsListRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.customers.paymentsList({
     *         customerId: "cus_abc123",
     *         limit: 20
     *     })
     */
    public paymentsList(
        request: RevKeen.CustomersPaymentsListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersPaymentsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__paymentsList(request, requestOptions));
    }

    private async __paymentsList(
        request: RevKeen.CustomersPaymentsListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersPaymentsListResponse>> {
        const { customerId, limit, starting_after: startingAfter, ending_before: endingBefore, status } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            starting_after: startingAfter,
            ending_before: endingBefore,
            status: status != null ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/payments`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersPaymentsListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customers/{customerId}/payments",
        );
    }

    /**
     * Create or update multiple customers by external system ID. Supports up to 100 customers per request with stale update protection.
     *
     * @param {RevKeen.CustomersExternalBatchRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.ForbiddenError}
     *
     * @example
     *     await client.customers.externalbatch({
     *         source: "practicehub",
     *         customers: [{
     *                 external_id: "PAT-12345",
     *                 email: "john@example.com"
     *             }]
     *     })
     */
    public externalbatch(
        request: RevKeen.CustomersExternalBatchRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersExternalBatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__externalbatch(request, requestOptions));
    }

    private async __externalbatch(
        request: RevKeen.CustomersExternalBatchRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersExternalBatchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "customers/external/batch",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersExternalBatchResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new RevKeen.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/customers/external/batch");
    }

    /**
     * Retrieve a paginated list of customers for the merchant
     *
     * @param {RevKeen.CustomersListRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     *
     * @example
     *     await client.customers.list()
     */
    public list(
        request: RevKeen.CustomersListRequest = {},
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomerListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: RevKeen.CustomersListRequest = {},
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomerListResponse>> {
        const { limit, offset, search } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            search,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "customers",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.CustomerListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customers");
    }

    /**
     * Create a new customer record in the merchant's account
     *
     * @param {RevKeen.CustomersCreateRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     * @throws {@link RevKeen.UnauthorizedError}
     *
     * @example
     *     await client.customers.create({
     *         email: "email"
     *     })
     */
    public create(
        request: RevKeen.CustomersCreateRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomerCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: RevKeen.CustomersCreateRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomerCreateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "customers",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.CustomerCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/customers");
    }

    /**
     * Retrieve detailed information about a specific customer
     *
     * @param {RevKeen.CustomersRetrieveRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.customers.retrieve({
     *         id: "id"
     *     })
     */
    public retrieve(
        request: RevKeen.CustomersRetrieveRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomerRetrieveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: RevKeen.CustomersRetrieveRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomerRetrieveResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.CustomerRetrieveResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/customers/{id}");
    }

    /**
     * Update an existing customer's information
     *
     * @param {RevKeen.CustomersUpdateRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.customers.update({
     *         id: "id"
     *     })
     */
    public update(
        request: RevKeen.CustomersUpdateRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomerUpdateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: RevKeen.CustomersUpdateRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomerUpdateResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.CustomerUpdateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/customers/{id}");
    }

    /**
     * Retrieve all payment methods for a customer
     *
     * @param {RevKeen.CustomersPaymentMethodsListRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.customers.paymentmethodsList({
     *         id: "id"
     *     })
     */
    public paymentmethodsList(
        request: RevKeen.CustomersPaymentMethodsListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomerPaymentMethodsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__paymentmethodsList(request, requestOptions));
    }

    private async __paymentmethodsList(
        request: RevKeen.CustomersPaymentMethodsListRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomerPaymentMethodsListResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(id)}/payment-methods`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomerPaymentMethodsListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customers/{id}/payment-methods",
        );
    }

    /**
     * Create a temporary portal session URL for a customer. The customer can use this URL to access their portal without requiring them to sign in with a magic link.
     *
     * @param {RevKeen.CustomersPortalSessionsCreateRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.customers.portalsessionsCreate({
     *         id: "id"
     *     })
     */
    public portalsessionsCreate(
        request: RevKeen.CustomersPortalSessionsCreateRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomerPortalSessionCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__portalsessionsCreate(request, requestOptions));
    }

    private async __portalsessionsCreate(
        request: RevKeen.CustomersPortalSessionsCreateRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomerPortalSessionCreateResponse>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(id)}/portal-sessions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomerPortalSessionCreateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customers/{id}/portal-sessions",
        );
    }

    /**
     * Create or update a customer identified by external source and ID. Used by integrations (PracticeHub, Wodify) to sync customers.
     *
     * @param {RevKeen.CustomersExternalUpsertByExternalIdRequest} request
     * @param {CustomersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     * @throws {@link RevKeen.UnauthorizedError}
     *
     * @example
     *     await client.customers.externalUpsertbyexternalid({
     *         source: "practicehub",
     *         externalId: "PAT-12345",
     *         email: "email"
     *     })
     */
    public externalUpsertbyexternalid(
        request: RevKeen.CustomersExternalUpsertByExternalIdRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersExternalUpsertByExternalIdResponse> {
        return core.HttpResponsePromise.fromPromise(this.__externalUpsertbyexternalid(request, requestOptions));
    }

    private async __externalUpsertbyexternalid(
        request: RevKeen.CustomersExternalUpsertByExternalIdRequest,
        requestOptions?: CustomersClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersExternalUpsertByExternalIdResponse>> {
        const { source, externalId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/external/${core.url.encodePathParam(source)}/${core.url.encodePathParam(externalId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersExternalUpsertByExternalIdResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/customers/external/{source}/{externalId}",
        );
    }
}
