// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace BillingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Billing utilities let you preview upcoming charges and billing schedules before they execute. Use these endpoints to show customers what they will be charged and when, or to validate pricing changes before applying them.
 *
 * **Required Scopes:**
 * - `billing:read` - Preview billing schedules
 */
export class BillingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BillingClient.Options>;

    constructor(options: BillingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Generate a preview of upcoming billing dates and amounts based on the provided schedule configuration.
     *
     * This endpoint uses the same billing calculation logic as the actual scheduler, ensuring that
     * the preview matches what will actually be billed (Key Invariant #4: Preview === Scheduler).
     *
     * Use this to show customers their expected billing schedule before they subscribe, or to
     * preview changes to an existing subscription's billing configuration.
     *
     * @param {RevKeen.BillingGeneratePreviewRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     *
     * @example
     *     await client.billing.generatepreview({
     *         interval: "day"
     *     })
     */
    public generatepreview(
        request: RevKeen.BillingGeneratePreviewRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.BillingPreviewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__generatepreview(request, requestOptions));
    }

    private async __generatepreview(
        request: RevKeen.BillingGeneratePreviewRequest,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.BillingPreviewResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "billing/preview",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.BillingPreviewResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/billing/preview");
    }

    /**
     * Get the list of supported billing intervals and their display labels.
     *
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.getintervals()
     */
    public getintervals(
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.BillingIntervalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getintervals(requestOptions));
    }

    private async __getintervals(
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.BillingIntervalsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "billing/intervals",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.BillingIntervalsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/billing/intervals");
    }

    /**
     * Get the list of supported billing anchor rules with explanations.
     *
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.billing.getanchorrules()
     */
    public getanchorrules(
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.BillingAnchorRulesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getanchorrules(requestOptions));
    }

    private async __getanchorrules(
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.BillingAnchorRulesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "billing/anchor-rules",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.BillingAnchorRulesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/billing/anchor-rules");
    }
}
