// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace CommsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CommsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CommsClient.Options>;

    constructor(options: CommsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Send a direct message to a customer via email, SMS, or WhatsApp
     *
     * @param {RevKeen.CommsMessagesSendRequest} request
     * @param {CommsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     *
     * @example
     *     await client.comms.messagesSend({
     *         channel: "email",
     *         body: "body"
     *     })
     */
    public messagesSend(
        request: RevKeen.CommsMessagesSendRequest,
        requestOptions?: CommsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CommsMessagesSendResponse> {
        return core.HttpResponsePromise.fromPromise(this.__messagesSend(request, requestOptions));
    }

    private async __messagesSend(
        request: RevKeen.CommsMessagesSendRequest,
        requestOptions?: CommsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CommsMessagesSendResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "comms/send",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.CommsMessagesSendResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/comms/send");
    }

    /**
     * List conversation threads for the authenticated merchant
     *
     * @param {RevKeen.CommsThreadsListRequest} request
     * @param {CommsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.comms.threadsList()
     */
    public threadsList(
        request: RevKeen.CommsThreadsListRequest = {},
        requestOptions?: CommsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CommsThreadsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__threadsList(request, requestOptions));
    }

    private async __threadsList(
        request: RevKeen.CommsThreadsListRequest = {},
        requestOptions?: CommsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CommsThreadsListResponse>> {
        const { customerId, status, channel, invoiceId, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            customerId,
            status: status != null ? status : undefined,
            channel,
            invoiceId,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "comms/threads",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.CommsThreadsListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/comms/threads");
    }

    /**
     * List all messages in a conversation thread
     *
     * @param {RevKeen.CommsMessagesListRequest} request
     * @param {CommsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.comms.messagesList({
     *         threadId: "threadId"
     *     })
     */
    public messagesList(
        request: RevKeen.CommsMessagesListRequest,
        requestOptions?: CommsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CommsMessagesListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__messagesList(request, requestOptions));
    }

    private async __messagesList(
        request: RevKeen.CommsMessagesListRequest,
        requestOptions?: CommsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CommsMessagesListResponse>> {
        const { threadId, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `comms/threads/${core.url.encodePathParam(threadId)}/messages`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.CommsMessagesListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/comms/threads/{threadId}/messages",
        );
    }
}
