// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace AnalyticsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AnalyticsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AnalyticsClient.Options>;

    constructor(options: AnalyticsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get Monthly Recurring Revenue metrics and growth
     *
     * @param {RevKeen.AnalyticsRevenueGetMrrSummaryRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.revenueGetmrrsummary({
     *         asOfDate: "2024-01-31T23:59:59Z"
     *     })
     */
    public revenueGetmrrsummary(
        request: RevKeen.AnalyticsRevenueGetMrrSummaryRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsRevenueGetMrrSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__revenueGetmrrsummary(request, requestOptions));
    }

    private async __revenueGetmrrsummary(
        request: RevKeen.AnalyticsRevenueGetMrrSummaryRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsRevenueGetMrrSummaryResponse>> {
        const { asOfDate } = request;
        const _queryParams: Record<string, unknown> = {
            asOfDate: asOfDate != null ? asOfDate : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/revenue/mrr-summary",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsRevenueGetMrrSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/analytics/revenue/mrr-summary",
        );
    }

    /**
     * Get revenue data over time with configurable granularity
     *
     * @param {RevKeen.AnalyticsRevenueGetTimeSeriesRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.revenueGettimeseries({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-12-31T23:59:59Z"
     *     })
     */
    public revenueGettimeseries(
        request: RevKeen.AnalyticsRevenueGetTimeSeriesRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsRevenueGetTimeSeriesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__revenueGettimeseries(request, requestOptions));
    }

    private async __revenueGettimeseries(
        request: RevKeen.AnalyticsRevenueGetTimeSeriesRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsRevenueGetTimeSeriesResponse>> {
        const { startDate, endDate, granularity } = request;
        const _queryParams: Record<string, unknown> = {
            startDate,
            endDate,
            granularity: granularity != null ? granularity : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/revenue/time-series",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsRevenueGetTimeSeriesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/analytics/revenue/time-series",
        );
    }

    /**
     * Returns Accounts Receivable aging buckets with invoice counts and amounts
     *
     * @param {RevKeen.AnalyticsInvoicesGetArAgingRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.invoicesGetaraging({
     *         asOfDate: "2024-01-31T23:59:59Z"
     *     })
     */
    public invoicesGetaraging(
        request: RevKeen.AnalyticsInvoicesGetArAgingRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsInvoicesGetArAgingResponse> {
        return core.HttpResponsePromise.fromPromise(this.__invoicesGetaraging(request, requestOptions));
    }

    private async __invoicesGetaraging(
        request: RevKeen.AnalyticsInvoicesGetArAgingRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsInvoicesGetArAgingResponse>> {
        const { asOfDate } = request;
        const _queryParams: Record<string, unknown> = {
            asOfDate: asOfDate != null ? asOfDate : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/invoices/ar-aging",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsInvoicesGetArAgingResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/invoices/ar-aging");
    }

    /**
     * Calculate DSO and collection health metrics
     *
     * @param {RevKeen.AnalyticsCollectionsGetDsoRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.collectionsGetdso({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-12-31T23:59:59Z"
     *     })
     */
    public collectionsGetdso(
        request: RevKeen.AnalyticsCollectionsGetDsoRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsCollectionsGetDsoResponse> {
        return core.HttpResponsePromise.fromPromise(this.__collectionsGetdso(request, requestOptions));
    }

    private async __collectionsGetdso(
        request: RevKeen.AnalyticsCollectionsGetDsoRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsCollectionsGetDsoResponse>> {
        const { startDate, endDate } = request;
        const _queryParams: Record<string, unknown> = {
            startDate: startDate != null ? startDate : undefined,
            endDate: endDate != null ? endDate : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/collections/dso",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsCollectionsGetDsoResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/collections/dso");
    }

    /**
     * Calculate customer lifetime value metrics
     *
     * @param {RevKeen.AnalyticsCustomersGetLtvRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.customersGetltv({
     *         topN: 10
     *     })
     */
    public customersGetltv(
        request: RevKeen.AnalyticsCustomersGetLtvRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsCustomersGetLtvResponse> {
        return core.HttpResponsePromise.fromPromise(this.__customersGetltv(request, requestOptions));
    }

    private async __customersGetltv(
        request: RevKeen.AnalyticsCustomersGetLtvRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsCustomersGetLtvResponse>> {
        const { topN } = request;
        const _queryParams: Record<string, unknown> = {
            topN,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/customers/ltv",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsCustomersGetLtvResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/customers/ltv");
    }

    /**
     * Get analytics for a specific customer
     *
     * @param {RevKeen.AnalyticsCustomersRetrieveRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.analytics.customersRetrieve({
     *         customerId: "customerId"
     *     })
     */
    public customersRetrieve(
        request: RevKeen.AnalyticsCustomersRetrieveRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsCustomersRetrieveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__customersRetrieve(request, requestOptions));
    }

    private async __customersRetrieve(
        request: RevKeen.AnalyticsCustomersRetrieveRequest,
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsCustomersRetrieveResponse>> {
        const { customerId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `analytics/customers/${core.url.encodePathParam(customerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsCustomersRetrieveResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/analytics/customers/{customerId}",
        );
    }

    /**
     * Get payment link performance metrics
     *
     * @param {RevKeen.AnalyticsPaymentLinksGetConversionRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.paymentlinksGetconversion({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-12-31T23:59:59Z"
     *     })
     */
    public paymentlinksGetconversion(
        request: RevKeen.AnalyticsPaymentLinksGetConversionRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsPaymentLinksGetConversionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__paymentlinksGetconversion(request, requestOptions));
    }

    private async __paymentlinksGetconversion(
        request: RevKeen.AnalyticsPaymentLinksGetConversionRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsPaymentLinksGetConversionResponse>> {
        const { startDate, endDate } = request;
        const _queryParams: Record<string, unknown> = {
            startDate: startDate != null ? startDate : undefined,
            endDate: endDate != null ? endDate : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/payment-links/conversion",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsPaymentLinksGetConversionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/analytics/payment-links/conversion",
        );
    }

    /**
     * Get stage-by-stage checkout conversion funnel metrics. Shows sessions, drop-offs, and conversion rates at each step.
     *
     * @param {RevKeen.AnalyticsCheckoutGetFunnelRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutGetfunnel({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-01-31T23:59:59Z"
     *     })
     */
    public checkoutGetfunnel(
        request: RevKeen.AnalyticsCheckoutGetFunnelRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsCheckoutGetFunnelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkoutGetfunnel(request, requestOptions));
    }

    private async __checkoutGetfunnel(
        request: RevKeen.AnalyticsCheckoutGetFunnelRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsCheckoutGetFunnelResponse>> {
        const { startDate, endDate } = request;
        const _queryParams: Record<string, unknown> = {
            startDate: startDate != null ? startDate : undefined,
            endDate: endDate != null ? endDate : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/checkout/funnel",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsCheckoutGetFunnelResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/checkout/funnel");
    }

    /**
     * Get aggregated abandonment alert metrics by status and severity
     *
     * @param {RevKeen.AnalyticsCheckoutAbandonmentGetSummaryRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutAbandonmentGetsummary({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-12-31T23:59:59Z"
     *     })
     */
    public checkoutAbandonmentGetsummary(
        request: RevKeen.AnalyticsCheckoutAbandonmentGetSummaryRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsCheckoutAbandonmentGetSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkoutAbandonmentGetsummary(request, requestOptions));
    }

    private async __checkoutAbandonmentGetsummary(
        request: RevKeen.AnalyticsCheckoutAbandonmentGetSummaryRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsCheckoutAbandonmentGetSummaryResponse>> {
        const { startDate, endDate } = request;
        const _queryParams: Record<string, unknown> = {
            startDate: startDate != null ? startDate : undefined,
            endDate: endDate != null ? endDate : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/checkout/abandonment/summary",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsCheckoutAbandonmentGetSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/analytics/checkout/abandonment/summary",
        );
    }

    /**
     * Get paginated list of abandonment alerts with filtering
     *
     * @param {RevKeen.AnalyticsCheckoutAbandonmentListRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutAbandonmentList()
     */
    public checkoutAbandonmentList(
        request: RevKeen.AnalyticsCheckoutAbandonmentListRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsCheckoutAbandonmentListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkoutAbandonmentList(request, requestOptions));
    }

    private async __checkoutAbandonmentList(
        request: RevKeen.AnalyticsCheckoutAbandonmentListRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsCheckoutAbandonmentListResponse>> {
        const { status, severity, page, pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            severity: severity != null ? severity : undefined,
            page,
            pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/checkout/abandonment",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsCheckoutAbandonmentListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/analytics/checkout/abandonment",
        );
    }

    /**
     * Get aggregated winback opportunity metrics by type and status
     *
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutWinbackGetsummary()
     */
    public checkoutWinbackGetsummary(
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsCheckoutWinbackGetSummaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkoutWinbackGetsummary(requestOptions));
    }

    private async __checkoutWinbackGetsummary(
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsCheckoutWinbackGetSummaryResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/checkout/winback/summary",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsCheckoutWinbackGetSummaryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/analytics/checkout/winback/summary",
        );
    }

    /**
     * Get paginated list of winback opportunities with filtering
     *
     * @param {RevKeen.AnalyticsCheckoutWinbackListRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutWinbackList()
     */
    public checkoutWinbackList(
        request: RevKeen.AnalyticsCheckoutWinbackListRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.AnalyticsCheckoutWinbackListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkoutWinbackList(request, requestOptions));
    }

    private async __checkoutWinbackList(
        request: RevKeen.AnalyticsCheckoutWinbackListRequest = {},
        requestOptions?: AnalyticsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.AnalyticsCheckoutWinbackListResponse>> {
        const { type: type_, status, minValueCents, page, pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            type: type_ != null ? type_ : undefined,
            status: status != null ? status : undefined,
            minValueCents,
            page,
            pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "analytics/checkout/winback",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.AnalyticsCheckoutWinbackListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/checkout/winback");
    }
}
