// This file was auto-generated by Fern from our API Definition.
import { normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";
export class AnalyticsClient {
    constructor(options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }
    /**
     * Get Monthly Recurring Revenue metrics and growth
     *
     * @param {RevKeen.AnalyticsRevenueGetMrrSummaryRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.revenueGetmrrsummary({
     *         asOfDate: "2024-01-31T23:59:59Z"
     *     })
     */
    revenueGetmrrsummary(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__revenueGetmrrsummary(request, requestOptions));
    }
    async __revenueGetmrrsummary(request = {}, requestOptions) {
        const { asOfDate } = request;
        const _queryParams = {
            asOfDate: asOfDate != null ? asOfDate : undefined,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/revenue/mrr-summary"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/revenue/mrr-summary");
    }
    /**
     * Get revenue data over time with configurable granularity
     *
     * @param {RevKeen.AnalyticsRevenueGetTimeSeriesRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.revenueGettimeseries({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-12-31T23:59:59Z"
     *     })
     */
    revenueGettimeseries(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__revenueGettimeseries(request, requestOptions));
    }
    async __revenueGettimeseries(request, requestOptions) {
        const { startDate, endDate, granularity } = request;
        const _queryParams = {
            startDate,
            endDate,
            granularity: granularity != null ? granularity : undefined,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/revenue/time-series"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/revenue/time-series");
    }
    /**
     * Returns Accounts Receivable aging buckets with invoice counts and amounts
     *
     * @param {RevKeen.AnalyticsInvoicesGetArAgingRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.invoicesGetaraging({
     *         asOfDate: "2024-01-31T23:59:59Z"
     *     })
     */
    invoicesGetaraging(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__invoicesGetaraging(request, requestOptions));
    }
    async __invoicesGetaraging(request = {}, requestOptions) {
        const { asOfDate } = request;
        const _queryParams = {
            asOfDate: asOfDate != null ? asOfDate : undefined,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/invoices/ar-aging"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/invoices/ar-aging");
    }
    /**
     * Calculate DSO and collection health metrics
     *
     * @param {RevKeen.AnalyticsCollectionsGetDsoRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.collectionsGetdso({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-12-31T23:59:59Z"
     *     })
     */
    collectionsGetdso(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__collectionsGetdso(request, requestOptions));
    }
    async __collectionsGetdso(request = {}, requestOptions) {
        const { startDate, endDate } = request;
        const _queryParams = {
            startDate: startDate != null ? startDate : undefined,
            endDate: endDate != null ? endDate : undefined,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/collections/dso"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/collections/dso");
    }
    /**
     * Calculate customer lifetime value metrics
     *
     * @param {RevKeen.AnalyticsCustomersGetLtvRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.customersGetltv({
     *         topN: 10
     *     })
     */
    customersGetltv(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__customersGetltv(request, requestOptions));
    }
    async __customersGetltv(request = {}, requestOptions) {
        const { topN } = request;
        const _queryParams = {
            topN,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/customers/ltv"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/customers/ltv");
    }
    /**
     * Get analytics for a specific customer
     *
     * @param {RevKeen.AnalyticsCustomersRetrieveRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.analytics.customersRetrieve({
     *         customerId: "customerId"
     *     })
     */
    customersRetrieve(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__customersRetrieve(request, requestOptions));
    }
    async __customersRetrieve(request, requestOptions) {
        const { customerId } = request;
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, `analytics/customers/${core.url.encodePathParam(customerId)}`),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/customers/{customerId}");
    }
    /**
     * Get payment link performance metrics
     *
     * @param {RevKeen.AnalyticsPaymentLinksGetConversionRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.paymentlinksGetconversion({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-12-31T23:59:59Z"
     *     })
     */
    paymentlinksGetconversion(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__paymentlinksGetconversion(request, requestOptions));
    }
    async __paymentlinksGetconversion(request = {}, requestOptions) {
        const { startDate, endDate } = request;
        const _queryParams = {
            startDate: startDate != null ? startDate : undefined,
            endDate: endDate != null ? endDate : undefined,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/payment-links/conversion"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/payment-links/conversion");
    }
    /**
     * Get stage-by-stage checkout conversion funnel metrics. Shows sessions, drop-offs, and conversion rates at each step.
     *
     * @param {RevKeen.AnalyticsCheckoutGetFunnelRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutGetfunnel({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-01-31T23:59:59Z"
     *     })
     */
    checkoutGetfunnel(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__checkoutGetfunnel(request, requestOptions));
    }
    async __checkoutGetfunnel(request = {}, requestOptions) {
        const { startDate, endDate } = request;
        const _queryParams = {
            startDate: startDate != null ? startDate : undefined,
            endDate: endDate != null ? endDate : undefined,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/checkout/funnel"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/checkout/funnel");
    }
    /**
     * Get aggregated abandonment alert metrics by status and severity
     *
     * @param {RevKeen.AnalyticsCheckoutAbandonmentGetSummaryRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutAbandonmentGetsummary({
     *         startDate: "2024-01-01T00:00:00Z",
     *         endDate: "2024-12-31T23:59:59Z"
     *     })
     */
    checkoutAbandonmentGetsummary(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__checkoutAbandonmentGetsummary(request, requestOptions));
    }
    async __checkoutAbandonmentGetsummary(request = {}, requestOptions) {
        const { startDate, endDate } = request;
        const _queryParams = {
            startDate: startDate != null ? startDate : undefined,
            endDate: endDate != null ? endDate : undefined,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/checkout/abandonment/summary"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/checkout/abandonment/summary");
    }
    /**
     * Get paginated list of abandonment alerts with filtering
     *
     * @param {RevKeen.AnalyticsCheckoutAbandonmentListRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutAbandonmentList()
     */
    checkoutAbandonmentList(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__checkoutAbandonmentList(request, requestOptions));
    }
    async __checkoutAbandonmentList(request = {}, requestOptions) {
        const { status, severity, page, pageSize } = request;
        const _queryParams = {
            status: status != null ? status : undefined,
            severity: severity != null ? severity : undefined,
            page,
            pageSize,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/checkout/abandonment"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/checkout/abandonment");
    }
    /**
     * Get aggregated winback opportunity metrics by type and status
     *
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutWinbackGetsummary()
     */
    checkoutWinbackGetsummary(requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__checkoutWinbackGetsummary(requestOptions));
    }
    async __checkoutWinbackGetsummary(requestOptions) {
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/checkout/winback/summary"),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/checkout/winback/summary");
    }
    /**
     * Get paginated list of winback opportunities with filtering
     *
     * @param {RevKeen.AnalyticsCheckoutWinbackListRequest} request
     * @param {AnalyticsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.analytics.checkoutWinbackList()
     */
    checkoutWinbackList(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__checkoutWinbackList(request, requestOptions));
    }
    async __checkoutWinbackList(request = {}, requestOptions) {
        const { type: type_, status, minValueCents, page, pageSize } = request;
        const _queryParams = {
            type: type_ != null ? type_ : undefined,
            status: status != null ? status : undefined,
            minValueCents,
            page,
            pageSize,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "analytics/checkout/winback"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/analytics/checkout/winback");
    }
}
//# sourceMappingURL=Client.js.map