// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace ClientsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ClientsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ClientsClient.Options>;

    constructor(options: ClientsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get supported currencies for a client based on client_nmi_processors configuration. Requires 'clients:read' scope.
     *
     * @param {RevKeen.GetClientsIdConfiguredCurrenciesRequest} request
     * @param {ClientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.ForbiddenError}
     * @throws {@link RevKeen.NotFoundError}
     * @throws {@link RevKeen.InternalServerError}
     *
     * @example
     *     await client.clients.getConfiguredCurrencies({
     *         id: "cli_123"
     *     })
     */
    public getConfiguredCurrencies(
        request: RevKeen.GetClientsIdConfiguredCurrenciesRequest,
        requestOptions?: ClientsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.GetClientsIdConfiguredCurrenciesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getConfiguredCurrencies(request, requestOptions));
    }

    private async __getConfiguredCurrencies(
        request: RevKeen.GetClientsIdConfiguredCurrenciesRequest,
        requestOptions?: ClientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.GetClientsIdConfiguredCurrenciesResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `clients/${core.url.encodePathParam(id)}/configured-currencies`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.GetClientsIdConfiguredCurrenciesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new RevKeen.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new RevKeen.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/clients/{id}/configured-currencies",
        );
    }
}
