// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace TerminalDevicesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * List and inspect terminal devices registered for your merchant account. Use this endpoint to discover device IDs before initiating terminal payments.
 *
 * **Required Scopes:**
 * - `terminal:read` - List and retrieve terminal devices
 *
 * **MCP Tools:** `terminal_devices_list`, `terminal_devices_get`
 */
export class TerminalDevicesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TerminalDevicesClient.Options>;

    constructor(options: TerminalDevicesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List all terminal devices registered for the authenticated merchant. Use this endpoint to discover device IDs before initiating a terminal payment.
     *
     * @param {RevKeen.ListTerminalDevicesRequest} request
     * @param {TerminalDevicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     *
     * @example
     *     await client.terminalDevices.list()
     */
    public list(
        request: RevKeen.ListTerminalDevicesRequest = {},
        requestOptions?: TerminalDevicesClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.TerminalDeviceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: RevKeen.ListTerminalDevicesRequest = {},
        requestOptions?: TerminalDevicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.TerminalDeviceListResponse>> {
        const { status, terminal_paired: terminalPaired } = request;
        const _queryParams: Record<string, unknown> = {
            status: status != null ? status : undefined,
            terminal_paired: terminalPaired,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "terminal-devices",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.TerminalDeviceListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/terminal-devices");
    }

    /**
     * Get a terminal device by ID, including its current status and heartbeat information.
     *
     * @param {RevKeen.RetrieveTerminalDevicesRequest} request
     * @param {TerminalDevicesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.terminalDevices.retrieve({
     *         id: "id"
     *     })
     */
    public retrieve(
        request: RevKeen.RetrieveTerminalDevicesRequest,
        requestOptions?: TerminalDevicesClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.TerminalDeviceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: RevKeen.RetrieveTerminalDevicesRequest,
        requestOptions?: TerminalDevicesClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.TerminalDeviceResponse>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `terminal-devices/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.TerminalDeviceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/terminal-devices/{id}");
    }
}
