// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace AppsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AppsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AppsClient.Options>;

    constructor(options: AppsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Install an app for the authenticated tenant. Requires 'apps:write' scope.
     *
     * @param {RevKeen.PostAppsAppKeyInstallRequest} request
     * @param {AppsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.InternalServerError}
     *
     * @example
     *     await client.apps.installAnApp({
     *         appKey: "quaderno"
     *     })
     */
    public installAnApp(
        request: RevKeen.PostAppsAppKeyInstallRequest,
        requestOptions?: AppsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.PostAppsAppKeyInstallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__installAnApp(request, requestOptions));
    }

    private async __installAnApp(
        request: RevKeen.PostAppsAppKeyInstallRequest,
        requestOptions?: AppsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.PostAppsAppKeyInstallResponse>> {
        const { appKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `apps/${core.url.encodePathParam(appKey)}/install`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.PostAppsAppKeyInstallResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new RevKeen.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/apps/{appKey}/install");
    }

    /**
     * Uninstall an app for the authenticated tenant. Requires 'apps:write' scope.
     *
     * @param {RevKeen.DeleteAppsAppKeyInstallRequest} request
     * @param {AppsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     * @throws {@link RevKeen.InternalServerError}
     *
     * @example
     *     await client.apps.uninstallAnApp({
     *         appKey: "quaderno"
     *     })
     */
    public uninstallAnApp(
        request: RevKeen.DeleteAppsAppKeyInstallRequest,
        requestOptions?: AppsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.DeleteAppsAppKeyInstallResponse> {
        return core.HttpResponsePromise.fromPromise(this.__uninstallAnApp(request, requestOptions));
    }

    private async __uninstallAnApp(
        request: RevKeen.DeleteAppsAppKeyInstallRequest,
        requestOptions?: AppsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.DeleteAppsAppKeyInstallResponse>> {
        const { appKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `apps/${core.url.encodePathParam(appKey)}/install`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.DeleteAppsAppKeyInstallResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new RevKeen.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/apps/{appKey}/install");
    }

    /**
     * Get entitlements for the authenticated tenant. Requires 'apps:read' scope.
     *
     * @param {AppsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.InternalServerError}
     *
     * @example
     *     await client.apps.getEntitlements()
     */
    public getEntitlements(
        requestOptions?: AppsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.GetAppsEntitlementsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEntitlements(requestOptions));
    }

    private async __getEntitlements(
        requestOptions?: AppsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.GetAppsEntitlementsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                "apps/entitlements",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.GetAppsEntitlementsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new RevKeen.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/apps/entitlements");
    }
}
