// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace SyncStateClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Track sync progress for external integrations. Get and update sync state by resource type.
 */
export class SyncStateClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SyncStateClient.Options>;

    constructor(options: SyncStateClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get all sync states for a specific integration (by provider and merchant).
     *
     * @param {RevKeen.SyncStateListRequest} request
     * @param {SyncStateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.ForbiddenError}
     *
     * @example
     *     await client.syncState.syncStateList({
     *         source: "practicehub",
     *         merchantId: "merchantId"
     *     })
     */
    public syncStateList(
        request: RevKeen.SyncStateListRequest,
        requestOptions?: SyncStateClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.SyncStateListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__syncStateList(request, requestOptions));
    }

    private async __syncStateList(
        request: RevKeen.SyncStateListRequest,
        requestOptions?: SyncStateClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.SyncStateListResponse>> {
        const { source, merchantId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `sync-state/${core.url.encodePathParam(source)}/${core.url.encodePathParam(merchantId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.SyncStateListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new RevKeen.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/sync-state/{source}/{merchantId}",
        );
    }

    /**
     * Update or create sync state for a specific resource type. Used by worker after sync jobs.
     *
     * @param {RevKeen.SyncStateUpdateRequest} request
     * @param {SyncStateClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.ForbiddenError}
     *
     * @example
     *     await client.syncState.syncStateUpdate({
     *         source: "practicehub",
     *         merchantId: "merchantId",
     *         resourceType: "members"
     *     })
     */
    public syncStateUpdate(
        request: RevKeen.SyncStateUpdateRequest,
        requestOptions?: SyncStateClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.SyncStateUpdateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__syncStateUpdate(request, requestOptions));
    }

    private async __syncStateUpdate(
        request: RevKeen.SyncStateUpdateRequest,
        requestOptions?: SyncStateClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.SyncStateUpdateResponse>> {
        const { source, merchantId, resourceType, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `sync-state/${core.url.encodePathParam(source)}/${core.url.encodePathParam(merchantId)}/${core.url.encodePathParam(resourceType)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as RevKeen.SyncStateUpdateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new RevKeen.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/sync-state/{source}/{merchantId}/{resourceType}",
        );
    }
}
