// This file was auto-generated by Fern from our API Definition.
import { normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
/**
 * Webhook endpoint objects let you register URLs that RevKeen will notify when events occur in your account — payments, subscription changes, invoice updates, and more. Each endpoint can subscribe to specific event types or use wildcards to receive all events.
 */
export class WebhookEndpointsClient {
    constructor(options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }
    /**
     * @param {RevKeen.WebhookEndpointsListRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhookEndpoints.webhookEndpointsList()
     */
    webhookEndpointsList(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__webhookEndpointsList(request, requestOptions));
    }
    async __webhookEndpointsList(request = {}, requestOptions) {
        const { status, limit, offset } = request;
        const _queryParams = {
            status: status != null ? status : undefined,
            limit,
            offset,
        };
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "webhook-endpoints"),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/webhook-endpoints");
    }
    /**
     * @param {RevKeen.WebhookEndpointsCreateRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhookEndpoints.webhookEndpointsCreate({
     *         url: "url",
     *         enabled_events: ["enabled_events"]
     *     })
     */
    webhookEndpointsCreate(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__webhookEndpointsCreate(request, requestOptions));
    }
    async __webhookEndpointsCreate(request, requestOptions) {
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, "webhook-endpoints"),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/webhook-endpoints");
    }
    /**
     * @param {RevKeen.WebhookEndpointsRetrieveRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhookEndpoints.webhookEndpointsRetrieve({
     *         id: "id"
     *     })
     */
    webhookEndpointsRetrieve(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__webhookEndpointsRetrieve(request, requestOptions));
    }
    async __webhookEndpointsRetrieve(request, requestOptions) {
        const { id } = request;
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, `webhook-endpoints/${core.url.encodePathParam(id)}`),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/webhook-endpoints/{id}");
    }
    /**
     * @param {RevKeen.WebhookEndpointsDeleteRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhookEndpoints.webhookEndpointsDelete({
     *         id: "id"
     *     })
     */
    webhookEndpointsDelete(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__webhookEndpointsDelete(request, requestOptions));
    }
    async __webhookEndpointsDelete(request, requestOptions) {
        const { id } = request;
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, `webhook-endpoints/${core.url.encodePathParam(id)}`),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/webhook-endpoints/{id}");
    }
    /**
     * @param {RevKeen.WebhookEndpointsUpdateRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhookEndpoints.webhookEndpointsUpdate({
     *         id: "id"
     *     })
     */
    webhookEndpointsUpdate(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__webhookEndpointsUpdate(request, requestOptions));
    }
    async __webhookEndpointsUpdate(request, requestOptions) {
        const { id, ..._body } = request;
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, `webhook-endpoints/${core.url.encodePathParam(id)}`),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/webhook-endpoints/{id}");
    }
    /**
     * @param {RevKeen.WebhookEndpointsRotateSecretRequest} request
     * @param {WebhookEndpointsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhookEndpoints.webhookEndpointsRotateSecret({
     *         id: "id"
     *     })
     */
    webhookEndpointsRotateSecret(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__webhookEndpointsRotateSecret(request, requestOptions));
    }
    async __webhookEndpointsRotateSecret(request, requestOptions) {
        const { id } = request;
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.RevKeenEnvironment.Default, `webhook-endpoints/${core.url.encodePathParam(id)}/rotate-secret`),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.RevKeenError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/webhook-endpoints/{id}/rotate-secret");
    }
}
//# sourceMappingURL=Client.js.map