// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as RevKeen from "../../../index.js";

export declare namespace EntitlementsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EntitlementsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EntitlementsClient.Options>;

    constructor(options: EntitlementsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieve all entitlements (benefits/features) for a specific customer. Includes computed access status based on subscription state.
     *
     * @param {RevKeen.CustomersEntitlementsListRequest} request
     * @param {EntitlementsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.entitlements.customersEntitlementsList({
     *         customerId: "customerId"
     *     })
     */
    public customersEntitlementsList(
        request: RevKeen.CustomersEntitlementsListRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersEntitlementsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__customersEntitlementsList(request, requestOptions));
    }

    private async __customersEntitlementsList(
        request: RevKeen.CustomersEntitlementsListRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersEntitlementsListResponse>> {
        const { customerId, includeExpired, benefitType, category, limit, offset } = request;
        const _queryParams: Record<string, unknown> = {
            includeExpired,
            benefitType,
            category,
            limit,
            offset,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/entitlements`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersEntitlementsListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customers/{customerId}/entitlements",
        );
    }

    /**
     * Grant a benefit/entitlement to a customer. Provide either benefitId or benefitKey to identify the benefit. Emits an entitlement.granted webhook event.
     *
     * @param {RevKeen.CustomersEntitlementsGrantRequest} request
     * @param {EntitlementsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.entitlements.customersEntitlementsGrant({
     *         customerId: "customerId"
     *     })
     */
    public customersEntitlementsGrant(
        request: RevKeen.CustomersEntitlementsGrantRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersEntitlementsGrantResponse> {
        return core.HttpResponsePromise.fromPromise(this.__customersEntitlementsGrant(request, requestOptions));
    }

    private async __customersEntitlementsGrant(
        request: RevKeen.CustomersEntitlementsGrantRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersEntitlementsGrantResponse>> {
        const { customerId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/entitlements`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersEntitlementsGrantResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/customers/{customerId}/entitlements",
        );
    }

    /**
     * Revoke an entitlement from a customer by benefit key. Provide benefitKey as a query parameter. Emits an entitlement.revoked webhook event.
     *
     * @param {RevKeen.CustomersEntitlementsRevokeByKeyRequest} request
     * @param {EntitlementsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.BadRequestError}
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.entitlements.customersEntitlementsRevokeByKey({
     *         customerId: "customerId"
     *     })
     */
    public customersEntitlementsRevokeByKey(
        request: RevKeen.CustomersEntitlementsRevokeByKeyRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersEntitlementsRevokeByKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__customersEntitlementsRevokeByKey(request, requestOptions));
    }

    private async __customersEntitlementsRevokeByKey(
        request: RevKeen.CustomersEntitlementsRevokeByKeyRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersEntitlementsRevokeByKeyResponse>> {
        const { customerId, benefitKey } = request;
        const _queryParams: Record<string, unknown> = {
            benefitKey,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/entitlements`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersEntitlementsRevokeByKeyResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new RevKeen.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customers/{customerId}/entitlements",
        );
    }

    /**
     * Check if a customer has access to a specific benefit by key. This is the primary endpoint for feature gating and licensing checks.
     *
     * @param {RevKeen.CustomersEntitlementsCheckRequest} request
     * @param {EntitlementsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.entitlements.customersEntitlementsCheck({
     *         customerId: "customerId",
     *         benefitKey: "benefitKey"
     *     })
     */
    public customersEntitlementsCheck(
        request: RevKeen.CustomersEntitlementsCheckRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersEntitlementsCheckResponse> {
        return core.HttpResponsePromise.fromPromise(this.__customersEntitlementsCheck(request, requestOptions));
    }

    private async __customersEntitlementsCheck(
        request: RevKeen.CustomersEntitlementsCheckRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersEntitlementsCheckResponse>> {
        const { customerId, benefitKey } = request;
        const _queryParams: Record<string, unknown> = {
            benefitKey,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/entitlements/check`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersEntitlementsCheckResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/customers/{customerId}/entitlements/check",
        );
    }

    /**
     * Revoke a specific entitlement from a customer by entitlement ID. Emits an entitlement.revoked webhook event.
     *
     * @param {RevKeen.CustomersEntitlementsRevokeByIdRequest} request
     * @param {EntitlementsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link RevKeen.UnauthorizedError}
     * @throws {@link RevKeen.NotFoundError}
     *
     * @example
     *     await client.entitlements.customersEntitlementsRevokeById({
     *         customerId: "customerId",
     *         entitlementId: "entitlementId"
     *     })
     */
    public customersEntitlementsRevokeById(
        request: RevKeen.CustomersEntitlementsRevokeByIdRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): core.HttpResponsePromise<RevKeen.CustomersEntitlementsRevokeByIdResponse> {
        return core.HttpResponsePromise.fromPromise(this.__customersEntitlementsRevokeById(request, requestOptions));
    }

    private async __customersEntitlementsRevokeById(
        request: RevKeen.CustomersEntitlementsRevokeByIdRequest,
        requestOptions?: EntitlementsClient.RequestOptions,
    ): Promise<core.WithRawResponse<RevKeen.CustomersEntitlementsRevokeByIdResponse>> {
        const { customerId, entitlementId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.RevKeenEnvironment.Default,
                `customers/${core.url.encodePathParam(customerId)}/entitlements/${core.url.encodePathParam(entitlementId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as RevKeen.CustomersEntitlementsRevokeByIdResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new RevKeen.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new RevKeen.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.RevKeenError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/customers/{customerId}/entitlements/{entitlementId}",
        );
    }
}
